.banner_block {
  background-image: url(../image/banner_desktop_3.webp);
  background-size: cover;
  background-position: center;
}

.index_text {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.title_CN {
  color: #c16139;
}

.title_EN {
  color: #070302;
}

.title_line {
  border: #070302 1px solid;
  width: 70px;
}

.about_content {
  justify-content: center;
}

/* 案例 */
.case_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  max-width: 1280px;
  margin: 100px auto 0;
}

.case_right {
  margin-top: 10%;
}

.case_img img {
  margin-top: -30px;
  margin-left: -20px;
}

.case_right img {
  margin-left: 20px;
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .case_block {
    gap: 2em;
  }
}
@media (max-width: 576px) {
  .case_left {
    margin-top: 10%;
  }
  .case_block {
    grid-template-columns: 1fr;
    margin: 70px auto 0;
  }
}
